.hero_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.hero_button {
  width: 173px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgb(63, 131, 248);
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;

}


.hero_arrow {
  height: 15px;
}

.hero_text_arrow {
  color: #3f83f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.hero_image {
  height: 416px;
  width: 256px;
}

.gradient-text {
  background: linear-gradient(90deg, #4285f4, #4285f4, #8675b3, #b16c8b, #e1465b, #e1465b, #e1465b);
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
  /* Adjust margin as needed */
}

.gradient-border-button {
  background: linear-gradient(45deg, #4285f4, #4285f4, #8675b3, #b16c8b, #e1465b, #e1465b);
  border: 2px solid transparent;
  background-clip: padding-box;
  /* Ensure the gradient doesn't bleed outside the border */
  padding: 10px 20px;
  /* Adjust padding based on your design */
  color: white;
  /* Set the text color */
  font-size: 16px;
  /* Adjust font size based on your design */
  cursor: pointer;
  /* Add a cursor pointer for interaction */
  outline: none;
  border: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
  /* Add transition for smooth hover effect */
}

.gradient-border-button:hover {
  border-image: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
  border-image-slice: 1;
  border-width: 2px;
  color: #ffffff;
  /* Adjust text color on hover */
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-scroll {
  display: flex;
  gap: 2.5rem;
  animation: scroll 20s linear infinite;
}

.paused {
  animation-play-state: paused;
}
