.timeline {
    @apply mx-auto h-fit md:max-w-[80%] xl:max-w-[1500px]
  }
  
  .timeline-middle {
    @apply relative
  }
  
  .middle-point {
    @apply absolute top-0 translate-x-[-50%] w-[20px] h-[20px] bg-white shadow-lg shadow-gray-700 rounded-[50%]
  }
  
  .center-point {
    @apply w-[10px] h-[10px] rounded-[50%] mx-auto my-[25%]
  }
  
  .end-point {
    @apply top-auto
  }
  
  .middle-line {
    @apply w-[3px] h-[100%]
  }
  
  .timeline-content-right {
    @apply box-border border-2 ml-6 my-4 rounded-xl shadow-md shadow-gray-500
  }
  
  .timeline-content-left {
    @apply box-border border-2 mr-6 my-4 rounded-xl shadow-md shadow-gray-500
  }
  
  .content-title {
    @apply pt-10 px-10 inline-block mb-3 text-xl
  }
  
  .content-mark {
    @apply inline-block mb-3 px-5 mx-10 text-white font-bold rounded-[15px]
  }
  
  .content {
    @apply mt-5 pb-10 px-10
  }
  
  
  @media screen and (max-width: 1025px) {
    .timeline {
      @apply mx-auto h-fit md:max-w-[80%] xl:max-w-[1500px]
    }
  
    .timeline-middle, .group {
      @apply order-none
    }
  
    .middle-point {
      @apply absolute top-0 translate-x-[-50%] w-[20px] h-[20px] left-[99.8%] bg-white shadow-lg shadow-gray-700 rounded-[50%]
    }
  
    .middle-line {
      @apply w-[3px] h-[100%] ml-auto
    }
  
    .end-point {
      @apply top-auto
    }
  
    .timeline-content-right {
      @apply box-border border-2 ml-6 my-4 rounded-xl shadow-md shadow-gray-500
    }
  
    .timeline-content-left {
      @apply box-border border-2 ml-6 mr-0 my-4 rounded-xl shadow-md shadow-gray-500
    }
  }
  